* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  
  input, select, option, optgroup, textarea, button,
  pre, code {
    font-family: inherit;
  }
  
  ol, ul {
    list-style: none;
  }
  